<launch>

  <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="teleop_keyboard"  output="screen">
    <param name="scale_linear" value="0.2" type="double"/>
    <param name="scale_angular" value="0.6" type="double"/>
  </node>

  <node pkg="differential_drive" type="differential_drive_node" name="differential_drive">
    <param name="drive_wheel_radius"  value="0.033"/>
    <param name="drive_wheel_base"    value="0.100"/>
    <param name="drive_wheel_encoder_ticks" value="128"/>
  </node>

</launch>
