<launch>
  <node pkg="diff_drive_calibrated" type="node" name="diff_drive">
    <param name="drive_wheel_diameter"        value="0.060"/>
    <param name="drive_wheel_base"            value="0.180"/>
    <param name="drive_wheel_encoder_ticks"   value="128"/>
    <param name="stasis_wheel_diameter"       value="0.038"/>
    <param name="stasis_wheel_encoder_ticks"  value="16"/>

    <param name="average_2n_readings"             value="3"/>
    <param name="velocity_difference_percentage"  value="30"/>
    <param name="velocity_lower_limit"            value="0.10"/>
    
    <remap from="tick_velocity" to="cmd_ticks"/>
  </node>

  <node pkg="data_robot" type="data_robot_node" name="robot">
    <param name="front_bumper_index"  value="0"/>
    <param name="front_left_bumper_index"  value="2"/>
    <param name="front_right_bumper_index"  value="1"/>
  </node>
</launch>
